@import url('https://fonts.googleapis.com/css?family=Quicksand:400,500,700');
html,
body {
    background-color: azure;
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: "Quicksand", sans-serif;
    font-size: 100%;
    
}

.navbar,navbar-inverse,navbar-fixed-top{
  background-color:darkblue;
  font-size:30px; 
 }



.bg {
    
  background-image: url(../image/bg.jpg);
  height: 75%;
filter: blur(5px);
  -webkit-filter: blur(5px);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.r_right{
    float: right;
    
}



.bg-text {
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  border: 3px solid #f1f1f1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  padding: 20px;
  text-align: center;
}

#paraimg{
    padding-top: 30px;
}
#imagei{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 400px;
    border: 10px;
    border-style: outset;

}
#info{
    font-size: 30px;
    padding-bottom: 80px;
    padding-right: 160px;
    padding-left: 160px;
    padding-top: 40px;

}

#likebtn{
    text-align: center;
    padding: 10px;
}
.footer {
   
   text-align: center;
}
.fa {
  padding: 20px;
  font-size: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}





.line-1{
    position: relative;
    top: 50%;  
    width: 24em;
    margin: 0 auto;
    border-right: 2px solid rgba(255,255,255,.75);
    font-size: 180%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);    
}

/* Animation */
.anim-typewriter{
  -webkit-animation: typewriter 4s steps(21) 1s 1 normal both,
             blinkTextCursor 500ms steps(21) infinite normal;
          animation: typewriter 4s steps(21) 1s 1 normal both,
             blinkTextCursor 500ms steps(21) infinite normal;
}
@-webkit-keyframes typewriter{
  from{width: 0;}
  to{width: 24em;}
}
@keyframes typewriter{
  from{width: 0;}
  to{width: 24em;}
}
@-webkit-keyframes blinkTextCursor{
  from{border-right-color: rgba(255,255,255,.75);}
  to{border-right-color: transparent;}
}
@keyframes blinkTextCursor{
  from{border-right-color: rgba(255,255,255,.75);}
  to{border-right-color: transparent;}
}











.mySlides {display: none}
img {vertical-align: middle;
max-height: 500px;}

/* Slideshow container */
.slideshow-container {
  max-width: 500px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}




/* for merged cell */

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 5px;
  text-align: left;    
}


.button {
  background-color: rgb(6, 47, 66);
  border: none;
  color: rgb(209, 203, 203);
  position: fixed;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  bottom: 5%;
  right: 2%;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
}

.button1 {font-size: 10px;}
.button2 {font-size: 12px;}
.button3 {font-size: 16px;}
.button4 {font-size: 20px;}
.button5 {font-size: 24px;}
